In [2]:
# 11.1
import zoo

zoo.hours()

Open 9-5 daily

In [6]:
# 11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [37]:
# 16.8

# I attempted the assignment
# Required answer to 16.4 to complete
# I installed sqlalchemy and kept getting an error from notebook about the method not existing

#---------------------------------------------------------------------------------
# 16.4 attempt

import sqlite3
books_db = sqlite3.connect('books2.db')
curs = books_db.cursor()

# curs.execute('''CREATE TABLE books
#     (title TEXT,
#     author TEXT,
#     year INTEGER)''')

# curs.execute('INSERT INTO books VALUES("The Weirdstone of Brisingamen", "Alan Garner", 1960)')
# curs.execute('INSERT INTO books VALUES("Perdido Street Station", "China Mi√©ville", 2000)')
# curs.execute('INSERT INTO books VALUES("Thud!", "Terry Pratchett", 2005)')
# curs.execute('INSERT INTO books VALUES("The Spellman Files", "Lisa Lutz", 2007)')
# curs.execute('INSERT INTO books VALUES("Small Gods", "Terry Pratchett", 1992)')

curs.execute('SELECT title FROM books')

rows = curs.fetchall()
print(rows)

#-----------------------------------------------------------------------------------

from sqlalchemy import *

engine = create_engine('sqlite:///books2.db')

command = 'SELECT title FROM books'

with engine.connect() as conn:
    result = conn.execute(text(command))
    for row in result:
        print(row)

[]